appName: MyRestaurant
apiKey: V0tNRU1BTkdKRUxFSw==
server:
    addr: 0.0.0.0:8080
    prom: 0.0.0.0:8081
database:
    dsn: root:AAAaaa123@tcp(103.191.92.172:3306)/restaurant?charset=utf8mb4&parseTime=True&loc=Local
    maxidleconns: 60
    maxopenconns: 60
    connmaxlifetime: 2000
    connmaxidletime: 1500