appName: MyRestaurant
apiKey: S3dla0t3ZWtTcXVhZDk0OkdhdnJhR2FudGVuZw==
server:
    addr: 0.0.0.0:8080
    prom: 0.0.0.0:8081
database:
    dsn: host=103.117.57.125 user=user_golang password=AAAaaa123 dbname=Food port=8080 sslmode=disable
    maxidleconns: 60
    maxopenconns: 60
    connmaxlifetime: 10
    connmaxidletime: 3