appName: MyRestaurant
apiKey: V0tNRU1BTkdKRUxFSw==
server:
    addr: 0.0.0.0:8080
    prom: 0.0.0.0:8081
database:
    dsn: root:mysecretpassword@tcp(192.168.1.7:3306)/Food?charset=utf8mb4&parseTime=True&loc=Local
    maxidleconns: 60
    maxopenconns: 60
    connmaxlifetime: 2000
    connmaxidletime: 1500